<script type="text/ejs" id="checkinMemberPanel">
	<!-- LOCA残高 -->
	<div class="panel [%=panelType%]" data-userID="[%=id%]">
		<div class="panel-heading">
			<h2 class="panel-title">[%=name%]</h2>
		</div>
		<table class="table table-striped chargeTable"></table>
	</div> <!-- panel -->
</script>
