<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">

		<!-- hifiveスタイルシートの読み込み -->
		<link type="text/css" rel="stylesheet" href="lib/h5/h5-1.1.10.css">
		<link type="text/css" rel="stylesheet" href="lib//sidr/stylesheets/jquery.sidr.dark.css">

		<!-- 依存ファイルの読み込み -->
		<script src="lib/jquery/jquery-2.1.1.js"></script>
		<script src="lib/jquery/jquery.touchwipe.min.js"></script>
		<script src="lib/sidr/jquery.sidr.min.js"></script>
		<script src="lib/underscore/underscore-min.js"></script>
		<script src="lib/moment/moment-with-langs.min.js"></script>
		<script src="lib/Chart.js/Chart.min.js"></script>
		<!-- // <script src="lib/CLNDR/clndr.min.js"></script> -->
		<script src="/socket.io/socket.io.js"></script>

		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- bootstrapの読み込み -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>

		<!-- fullCalendarの読み込み -->
		<link type="text/css" rel="stylesheet" href="lib/fullcalendar/fullcalendar.print.css" media="print">
		<link type="text/css" rel="stylesheet" href="lib/fullcalendar/fullcalendar.css">
		<script src="lib/fullcalendar/fullcalendar.min.js"></script>
		<script src="lib/fullcalendar/gcal.js"></script>

		<!-- hifiveフレームワークの読み込み -->
		<script src="lib/h5/ejs-1.0.h5mod.js"></script>
		<script src="lib/h5/h5-1.1.10.dev.js"></script><!-- 開発時は h5.dev.js を読み込む-->
		<!-- <script src="lib/h5/h5.devtool.js"></script> -->
		<script src="lib/h5/ejs_fulljslint.js"></script>
		
		<!-- コントローラの読み込み(順番に注意) -->
		<script src="controller/LOCAController.js"></script>
		<script src="controller/DModalController.js"></script>
		<script src="controller/DeviceController.js"></script>
		<script src="controller/CModalController.js"></script>
		<script src="controller/CalendarController.js"></script>
		<script src="controller/HelloWorldController.js"></script>
		<script src="controller/LogsController.js"></script>
		<script src="controller/UserController.js"></script>
		<script src="controller/DrawerController.js"></script>
		<script src="controller/NavController.js"></script>
		<script src="controller/LoginController.js"></script>
		<!-- <script src="logic/LogsLogic.js"></script> -->
		<script src="controller/PageController.js"></script>

		<!-- ここまで必要ファイルの読み込み -->

		<title>nfcCheckin</title>
	</head>
	<body>
		<!-- ナビバーの設定 -->
		<!-- <nav id="navbar" class="navbar navbar-inverse" role="navigation"> -->
		<nav id="navbar" class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<span id="pageTitle" class="navbar-brand">使用履歴</span>
				</div><!-- navbar-header -->
				<ul class="nav navbar-nav">
					<li><a id="simple-menu" href="#sidr"><span class="glyphicon glyphicon-th"></span> メニュー</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="loginUl">
					<li><a id="loginbtn" href="#login"><span class="glyphicon glyphicon-log-in"> ログイン</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="logoutUl">
					<li><a id="loginMessage"></a></li>
					<li><a id="logoutbtn" href=""><span class="glyphicon glyphicon-log-in"> ログアウト</a></li>
				</ul>
			</div>
		</nav>

		<div id="container">
			<div id="loginSuggest" class="alert alert-warning"></div>
			<div id="logs">
				<table class="table table-striped" id="logsTable">
				</table>
				<ul id="logsList"></ul>
			</div><!-- #logs -->

			<div id="sidr">
				<!-- Your content -->
				<ul>
					<li id='drawerLogs'><a href="#logs">Logs</a></li>
					<li id='drawerStatus'><a href="#status">Status</a></li>
					<li id='drawerCalendar'><a href="#calendar">Calendar</a></li>
					<li id='drawerLOCA'><a href="#loca">LOCA</a></li>
<!-- 					<li id='drawerPayment'><a href="#payment">Payment</a></li>
					<li id='drawerDeposit'><a href="#deposit">Deposit</a></li> -->
					<li id='drawerDevice'><a href="#device">Cards</a></li>
				</ul>
			</div><!-- #sidr -->
			<div id= "user"><!-- ユーザ情報 -->
				<div id="userInfo">
					<div class="page-header"><h1 id="userName"><small></small></h1></div>
					<div id="graphArea">
						<!-- LOCA残高 -->
						<div class="panel panel-info">
						  <div class="panel-heading">
							<h2 class="panel-title" id = "userLOCA"></h2>
						  </div>
						  <div class="panel-body">
							<canvas id="LOCAChart" width="400" height="400"></canvas>
						  </div>
						</div> <!-- panel -->

						<!-- check in回数 -->
						<div class="panel panel-info">
						  <div class="panel-heading">
							<h3 class="panel-title" id = "userCheckinNum"></h3>
						  </div>
						  <div class="panel-body">
							<canvas id="CheckinChart" width="400" height="400"></canvas>
						  </div>
						</div>

						<!-- check in時間帯 -->
						<div class="panel panel-info">
						  <div class="panel-heading">
							<h3 class="panel-title" id = "userCheckinTime"></h3>
						  </div>
						  <div class="panel-body">
							<canvas id="timeChart" width="400" height="400"></canvas>
						  </div>
						</div>
					</div> <!-- graphArea -->
				</div><!-- #userInfo -->
			</div><!-- #user -->

			<div id="calendar">
				<div id="calendarInfo">
					<h1></h1>
					<div id="checkinMemberPanel"></div>
					<table class="table table-striped" id="checkinMemberTable"></table>
					<button type="button" class="btn btn-primary" id="addChargeBtn">新しい請求を追加</button>
				</div>
				<div id="fullcalendar"></div>
				<!-- modal window -->
				<div id="auto_modal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">請求内容</h4>
							</div>
							<div class="modal-body text-center">
								<form class="form-inline" role="form">
									<div class="form-group">
										<label class="sr-only" for="chargeName">請求名</label>
										<input type="text" class="form-control" id="chargeNameInput" placeholder="Enter charge name">
										<label class="sr-only" for="chargeLabel">請求額</label>
										<input type="number" class="form-control" id="chargeInput" placeholder="Enter price" required min="1">
									</div>
									<button type="button" class="btn btn-primary" id="chargebtn">請求</button>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							</div>
						</div><!-- modal content -->
					</div><!-- modal dialog -->
				</div><!-- auto modal -->
			</div><!-- #calendar -->

			<div id="payment"></div>
			<div id="deposit"></div>
			<div id="loca">
				<table class="table table-striped" id="locaTable"></table>
				<div class="btn-group-lg">
				  <button type="button" class="btn btn-default btn-primary" id="locaAllBtn">All</button>
				  <button type="button" class="btn btn-default btn-danger" id="locaPaymentBtn">Payment</button>
				  <button type="button" class="btn btn-default btn-success" id="locaDepositBtn">Deposit</button>
				  <button type="button" class="btn btn-default btn-warning" id="locaChargeBtn">Charge</button>
				</div>

			</div>
			
			<!-- device -->
			<div id="device">
				<table class="table table-striped" id="deviceTable"></table>
				<input id="addDeviceBtn" class="btn btn-primary" type="submit" value="新しいカードを追加"/>
				<div class="progress progress-striped active">
					<div class="progress-bar"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">10sec</span>
						10sec
					</div><!-- progress-bar -->
				</div><!-- progress-striped -->
				<div id="progressMsg"></div>

				<!-- modal -->
				<div id="deviceModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">新しいカードを追加</h4>
							</div>
							<div class="modal-body text-center">
								<form class="form-inline" role="form">
									<div class="form-group">
										<label class="sr-only" for="setDeviceName">カード名</label>
										<input type="text" class="f
										orm-control" id="deviceName" placeholder="Enter device name">
									</div>
									<button type="button" class="btn btn-primary" id="deviceNameSubmitBtn">追加</button>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							</div>
						</div><!-- modal content -->
					</div><!-- modal dialog -->
				</div><!-- auto modal -->
			</div> <!-- #device -->
			<!-- <input class="btn btn-default" type="button" id="btn" value="hello world!" /> -->
		</div><!-- #container -->

		<div id="login">
			<form action="/login" method="post" id="loginForm">
					<div>
						<label>user name:</label>
						<input type="text" name="username"/>
					</div>
					<div>
						<label>Password:</label>
						<input type="password" name="password"/>
					</div>
					<div>
						<input class="btn btn-primary" type="submit" value="Log In"/>
					</div>
			</form>
		</div><!-- #login -->
	</body>

	<script>
	var g_start;//fullCalendarがクリックされた時のstart
	var g_end;//fullCalendarがクリックされた時のend
	var g_DBName = 'sample';
	</script>
</html>

