<!doctype html>  
<html>
  <head>
    <meta charset="UTF-8">

    <!-- hifiveスタイルシートの読み込み -->
    <link type="text/css" rel="stylesheet" href="lib/h5/h5-1.1.10.css">

    <!-- 依存ファイルの読み込み -->
    <script src="lib/jquery/jquery-2.1.1.js"></script>

    <!-- hifiveフレームワークの読み込み -->
    <script src="lib/h5/ejs-1.0.h5mod.js"></script>
    <script src="lib/h5/h5-1.1.10.dev.js"></script><!-- 開発時は h5.dev.js を読み込む-->
    <script src="controller/step3.js"></script>
    <title>hifive Hello World</title>
  </head>
  <body>
      <div id="container">
          <input type="button" id="btn" value="hello world!" />
      </div>
  </body>
</html>

